# jina-related
#jina>=3.4.5
git+https://github.com/jina-ai/jina.git@c61c413433bb90318994d3b0a2bad741dbe8ced5
clip_client>=0.4.0
docarray>=0.13.5
# dalle-mini
jax[cuda] -f https://storage.googleapis.com/jax-releases/jax_releases.html
flax
git+https://github.com/openai/CLIP.git
git+https://github.com/huggingface/transformers.git
git+https://github.com/patil-suraj/vqgan-jax.git
git+https://github.com/borisdayma/dalle-mini.git
# glid3
dalle_pytorch
# SwinIR
opencv-python
timm
Cython