numpy==1.23.3
tqdm==4.64.1
jina
docarray
kornia==0.6.7
einops==0.4.1
transformers==4.22.2
pytorch_lightning==1.7.7
omegaconf==2.2.3
protobuf==3.20.0
k-diffusion @ git+https://github.com/crowsonkb/k-diffusion.git
stable-inference @ git+https://github.com/AmericanPresidentJimmyCarter/stable-diffusion.git@v0.0.12
CLIP @ git+https://github.com/openai/CLIP
